@import "mixins";
.a8-room-grid{
  .wrap-content{
    margin-top: 95px;
    padding-bottom: 160px;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    .div-number-on-off{
      margin: 0 25px;
      .div-number-on{
        float: left;
        width: auto;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #ccc;
      }
      .div-number-off{
        float: left;
        width: auto;
      }
      .div-button-toggle{
        width: auto;
        float: right;
      }
      .text-number{
        color: #c0c0c0;
        margin-left: 2px;
      }
    }

    .div-activity{
      margin: 25px 25px 0 20px;
      width: auto;
      overflow: hidden;
      .the-activity{
         display: inline-block;
         margin: 5px 15px 3px 3px;
         @include boxshad;
         border-radius: 5px;
         height: 60px;
         width: 155px;
         outline: none;
         position: relative;
         .icon-the-activity{
           width: 20px;
           @include positonabtl(20px, 20px);
         }
         .text-the-activity{
           width: auto;
           white-space: normal;
           @include positonabtl(22px, 50px);
           font-weight: bold;
           font-size: 15px;
           color: #b7b7b7;
           max-height: 34px;
           overflow: hidden;
           padding-right: 5px;
         }
         &.active{
           .text-the-activity{
             color: #000;
           }
         }
       }

      .div-some-scences{
        width: 75px;
        height: auto;
        padding: 0 5px;
        margin: 0;
        outline: none;
        color: #c2c2c2;
        text-align: center;
        p{
          margin-top: 10px;
          width: auto;
          height: 32px;
          overflow: hidden;
          white-space: initial;
        }
        img{
          width: 50px;
        }
        &.active{
          color: #000;
          font-weight: bold;
        }
      }
    }
    
    .div-line-activity{
      margin-left: 25px;
      margin-right: 25px;
      background-color: #e4e4e4;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .div-camera-user{
      //padding-bottom: 60px;
      &>p{
        max-width: 325px;
        margin: 20px 25px 5px;
        font-weight: bold;
        font-size: 16px;
      }
      .slide-camera{
        margin-right: 20px;
        margin-left: 23px;
        overflow: hidden;
        width: auto;
        .the-camera{
          margin: 1px 10px 1px 1px;
          width: 165px;
          height: auto;
          .camera-screen{
            height: 95px;
            position: relative;
            border-radius: 5px;
            width: 100%;
            a{
              img{
                max-width: 165px;
                border-radius: 5px;
              }
            }
            .div-activiti-posititon{
              position: absolute;
              width: auto;
              height: auto;
              display: inline-block;
              bottom: 10px;
              left: 10px;
              background-color: #aaaaaa;
              border-radius: 3px;
              padding: 0 3px 1px 1px;
              i{
                width: auto;
                color: red;
                font-size: 12px;
              }
              span{
                width: auto;
                text-transform: uppercase;
                color: #fff;
                font-size: 11px;
              }
            }
          }
          p{
            font-weight: bold;
            font-size: 16px;
            margin: 7px 0 5px;
          }
          span{
            color: #bbbbbb;
          }
        }
      }
    }

    .tittle-device{
      margin-left: 5px;
      font-size: 15px;
      font-weight: bold;
    }
    .div-device-gird{
      height: 110px;
      margin-top: 10px;
      .div-device{
        width: auto;
        margin-left: 23px;
        overflow: hidden;
        padding-right: 1px;
        outline: none;
        .slick-list{
          padding-left: 2px;
        }
        .the-device{
          background: #fff;
          width: 102px;
          margin: 3px 13px 3px 1px;
          @include boxshad;
          border-radius: 5px;
          height: 100px;
          outline: none;
          position: relative;
          padding-top: 7px;
          .icon-the-device{
            height: 40px;
            width: 40px;
            margin-left: 10px;
            img{
              width: 40px;
              height: 40px;
            }
            img.on{
              display: none;
            }
            img.off{
              display: block;
            }
          }
          .text-the-device{
            p{
              margin: 5px 10px;
              font-weight: bold;
              overflow: hidden;
            }
            span{
              margin: 5px 10px 10px 10px;
              color: #c2c2c2;
            }
            span.off{
              display: block;
            }
            span.on{
              display: none;
            }
          }

          &.active{
            .text-the-device{
              span.off{
                display: none;
              }
              span.on{
                display: block;
              }
            }
            .icon-the-device{
              img.on{
                display: block;
              }
              img.off{
                display: none;
              }
            }
          }
        }
      }
    }

  }
}

.div-bgc-25{
  overflow: hidden;
  margin: 10px 25px 15px;
  height: auto;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 10px 5px 10px 10px;
  border-radius: 8px;

  .div-device{
    margin-left: 0 !important;
    margin-top: 0 !important  ;
    .the-device:last-child{
        //margin-right: 10px !important;
    }
  }
  .tittle-lamp{
    margin-left: 4px !important;
    margin-bottom: 10px;
  }
}

