@import "variables";
@import "mixins";
.bars-top-bars{
  .house-name{
    font-size: 20px ;
    font-weight: bold ;
  }
}
.the-room-content{
  .enter-pass-content{
    margin: 90px 25px 0;
    .info-user-login{
      .div-img-user{
        width: 50px;
        border-radius: 50%;
        margin-right: 20px;
        img{
          width: 50px;
          border-radius: 50%;
        }
      }
      .div-text-info{
        max-width: 50%;
        line-height: 1.5;
        margin-top: 2px;
        p{
          color: $grey;
          &.user-name{
            font-size: 15px;
            font-weight: bold;
            color: #000;
          }
        }
      }
      i{
        padding-top: 7px;
        width: 20px;
        font-size: 22px;
        color: $grey;
      }
    }
    .input-user-login{
      font-size: 16px;
      margin-top: 20px;
      border: 0;
      outline: none;
    }
    .div-line{
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .btn-user-login{
      background-color: $blue;
      color: #fff;
      padding: 12px;
      font-size: 16px;
      width: 100%;
      margin-top: 5px;
      border-radius: 4px;
      a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
      }
    }
    .forget-pass{
      color: $blue;
      margin-top: 25px;
      font-weight: bold;
      a{
        color: $blue;
        margin-top: 10px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

}