.h81-list-group{
  .wrap-content{
    .ul-list-group{
      margin: 0 25px;
      li{
        padding: 7px 0;
        p{
          font-size: 15px;
          font-weight: bold;
          color: #333;
        }
        .div-line{
          margin-top: 7px;
        }
      }
    }
  }
}