@import "mixins";
@import "variables";
*{
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  height : auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.tabbar {
  background-color: white;
  position: fixed;
  margin: 0 auto;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.tabbar .more {
  background          : rgba(255, 255, 255, 0.0);
  left                : 281px;
  position            : absolute;
  margin              : 0;
  height              : 50px;
  width               : 94px;
  top                 : 0px;
}
.tabbar .notification {
  background          : rgba(255, 255, 255, 0.0);
  left                : 188px;
  position            : absolute;
  margin              : 0;
  height              : 50px;
  width               : 94px;
  top                 : 0px;
}
.tabbar .room {
  background          : rgba(255, 255, 255, 0.0);
  left                : 94px;
  position            : absolute;
  margin              : 0;
  height              : 50px;
  width               : 94px;
  top                 : 0px;
}

.tabbar .home {
  background          : rgba(255, 255, 255, 0.0);
  left                : 0px;
  position            : absolute;
  margin              : 0;
  height              : 50px;
  width               : 94px;
  top                 : 0px;
}
.tabbar .home .icons-tab-bar-home-normal {
  background          : rgba(255, 255, 255, 0.0);
  left                : 35px;
  position            : relative;
  margin              : 0;
  height              : 24px;
  width               : 24px;
  top                 : 13px;
}
.tabbar .line {
  background          : rgba(255, 255, 255, 0.0);
  left                : 0px;
  position            : absolute;
  margin              : 0;
  height              : 1px;
  width               : 375px;
  top                 : 0px;
  opacity             : 0.0;
}
.tabbar{
  .center-vertical-2 {
    display: flex;               /* establish flex container */
    align-items: center;         /* vertically center flex items */
    clear: left;
    justify-content: space-between;
    img{
      max-height: 50px;

    }
  }
}
.center-vertical-1 {
  display: flex;               /* establish flex container */
  align-items: center;         /* vertically center flex items */
}
.bars-top-bars{
  position: fixed;
  background: white;
  top: 0;
  height: 80px;
  left: 18px;
  right: 25px;
  z-index: 1000;
  & > div >a{
    height : 26px;
  }
  .icon-top-bar-left{
    margin-left: 0;
    width: 24px;
    height: 24px;
  }
  .icon-top-bar-right{
    margin-right: 0;
    width: 24px;
    height: 24px;
  }
  .title{
    background: rgba(255, 255, 255, 0.0);
    font-family: "San Francisco", Helvetica, Arial, serif;
    font-size: 22.0px;
    color: rgba(0, 0, 0, 1.0);
    margin-left: 0.5em;
  }
}

.menu-top{
  position: fixed;
  background: #fff;
  z-index: 2000;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 20px;
  .top-center-vertical {
    position: relative;
    width: 325px;
    margin: 0 auto;
    .view-name {
      span{
        font-size: 20px;
        font-weight: bold;
      }
      i{
        width: auto;
        margin: 0 15px 0 0;
        font-size: 22px;
        color: #aaaaaa;
      }

    }

    .right-icon {
      position: absolute;
      top: 2px;
      left: 301px;
      margin: 0;
      a{
        width: 24px;
        height: 24px;
        position: relative;
        top:0;
        left: 0;
      }
      img {
        position: relative;
        height: 20px;
        width: 20px;

      }
    }
  }
}

.the-room{
  width : 100%;
  min-width : 375px;
  height : 100%;
  min-height : 667px;
  position : relative;
  overflow : hidden;
  margin : 0;
  .bars-top-bars{
    padding-top: 35px;
    height: 70px;
    .icon-top-bar-left{
      float: left;
    }
    .title{
      float: left;
      width: auto;
    }
  }
  .the-room-content{
    height: 100%;
    position: relative;
    margin: auto;
  }
}

ul{
  list-style: none;
}

.div-button-toggle{
  margin-top: -5px;
  .switch{
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    input{
      display: none;
    }
    .slider{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .4s;
      transition: .4s;
      background-color: #ccc;
      border-radius: 2px;
      &.round{
        border-radius: 20px;
        &:before{
          border-radius: 50%;
        }
      }
    }
    .slider:before{
      position: absolute;
        content: "";
        background-color: #fff;
        height: 20px;
        width: 20px;
        left: 2px;
        top: 2px;
    }
    input:checked + .slider{
      background-color: $blue;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

  }
}
a{
  text-decoration: none;
}